body 
{
        background-image: url("fond-beige.jpg");
        background-attachment: fixed; /* Le fond restera fixe */
}

h1
{
        color: lightgreen;
}

h1
{
        font-style:oblique
}

h1
{
        border: 4px red ridge
}

p
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h2
{
        font-style:italic;
        font-weight:bold;
        text-decoration:overline;
        font-size:2rem;
        margin-top:50px
}


h1
{
        text-align:center
}

p
{
        text-align:right
}

ul
{
        border-top: 7px darkgreen groove;
}

ul li
{
        margin: 20px 0;
}

.container
{
        position: relative;
        width: 400px;
}

.container .legende
{
        position: absolute;
        top:40%;
        left:20%;
        background-color: rgba(200,200,200,0.95);
        opacity:0;
        -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
}

.container:hover .legende 
{
        opacity:1;
}
